if SHIELD_SWEEP_LEFT
# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "Sweep Pro 2"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif


if SHIELD_SWEEP_LEFT || SHIELD_SWEEP_RIGHT

config ZMK_SPLIT
    default y


config ZMK_POINTING
    default y


endif


if SHIELD_MY_KEYBOARD_RIGHT

config SPI
    default y

endif