#include "sweep.dtsi"
#include <zephyr/dt-bindings/mipi_dbi/mipi_dbi.h>

&left_encoder {
	status = "okay";
};

&glidepoint_listener {
	status = "okay";
};

&pinctrl {
	spi0_default: spi0_default {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 0, 24)>,
			<NRF_PSEL(SPIM_MOSI, 0, 22)>;
		};
	};
	
	spi0_sleep: spi0_sleep {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 0, 24)>,
			<NRF_PSEL(SPIM_MOSI, 0, 22)>;
			low-power-enable;
		};
	};
};

&spi0 {
	status = "okay";
	compatible = "nordic,nrf-spim";
	pinctrl-0 = <&spi0_default>;
	pinctrl-1 = <&spi0_sleep>;
	pinctrl-names = "default", "sleep";
	cs-gpios = <&gpio0 17 GPIO_ACTIVE_LOW>;
};

/ {
	mipi_dbi_st7789v {
		compatible = "zephyr,mipi-dbi-spi";
		reset-gpios = <&gpio1 4 GPIO_ACTIVE_LOW>;
		dc-gpios = <&gpio0 20 GPIO_ACTIVE_HIGH>;
		spi-dev = <&spi0>;
		status = "okay";
		#address-cells = <1>;
		#size-cells = <0>;
		
		st7789v: st7789v@0 {
			compatible = "sitronix,st7789v";
			status = "okay";
			
			reg = <0>;
			mipi-max-frequency = <DT_FREQ_M(20)>;
			mipi-mode = "MIPI_DBI_MODE_SPI_4WIRE";
			
			width = <240>;		/* portrait */
			height = <280>;		/* portrait */
			x-offset = <0>;		/* portrait */
			y-offset = <20>;	/* portrait */
			
			
			vcom = <0x19>;
			gctrl = <0x35>;
			vrhs = <0x12>;
			vdvs = <0x20>;
			mdac = <0xC0>;
			lcm = <0x2c>;
			colmod = <0x05>;
			gamma = <0x01>;
			porch-param = [ 0c 0c 00 33 33  ];
			cmd2en-param = [ 5a 69 02 01  ];
			pwctrl1-param = [ a4 a1  ];
			pvgam-param = [ D0 04 0D 11 13 2B 3F 54 4C 18 0D 0B 1F 23  ];
			nvgam-param = [ D0 04 0C 11 13 2C 3F 44 51 2F 1F 1F 20 23  ];
			ram-param = [ 00 F0  ];
			rgb-param = [ CD 08 14  ];
		};
	};
	
	chosen {
		zephyr,display = &st7789v;
		zmk,display-led = &disp_led;
	};

	leds {
		compatible = "gpio-leds";
		disp_led: disp_led {
			gpios = <&gpio0 6 GPIO_ACTIVE_HIGH>;
			label = "Display LED";
		};
	};
};




// #include "sweep.dtsi"
// #include <zephyr/dt-bindings/mipi_dbi/mipi_dbi.h>

// &left_encoder {
// 	status = "okay";
// };

// &glidepoint_listener {
// 	status = "okay";
// };

// &pinctrl {
// 	spi0_default: spi0_default {
// 		group1 {
// 			psels = <NRF_PSEL(SPIM_SCK, 0, 24)>,
// 			<NRF_PSEL(SPIM_MOSI, 0, 22)>;
// 		};
// 	};

// 	spi0_sleep: spi0_sleep {
// 		group1 {
// 			psels = <NRF_PSEL(SPIM_SCK, 0, 24)>,
// 			<NRF_PSEL(SPIM_MOSI, 0, 22)>;
// 			low-power-enable;
// 		};
// 	};
// };

// &spi0 {
//     status = "okay";
//     compatible = "nordic,nrf-spim";
//     pinctrl-0 = <&spi0_default>;
//     pinctrl-1 = <&spi0_sleep>;
//     pinctrl-names = "default", "sleep";
//     cs-gpios = <&gpio0 17 GPIO_ACTIVE_LOW>; 
// };

// / {
// 	mipi_dbi {
// 		compatible = "zephyr,mipi-dbi-spi";
// 		reset-gpios = <&gpio1 4 GPIO_ACTIVE_LOW>;
// 		dc-gpios = <&gpio0 20 GPIO_ACTIVE_HIGH>;
// 		spi-dev = <&spi0>;
// 		status = "okay";
// 		#address-cells = <1>;
// 		#size-cells = <0>;

// 		display0: display@0 {
// 			compatible = "solomon,ssd1680";
// 			status = "okay";
// 			reg = <0>;
// 			width = <152>;
// 			height = <152>;
// 			mipi-max-frequency = <4000000>;
// 			busy-gpios = <&gpio0 6 GPIO_ACTIVE_HIGH>;
// 			tssv = <0x80>;
// 			rotation = <90>;// 关键：添加这一行

// 			full {
// 				border-waveform = <0x05>;
// 			};

// 			partial {
// 				border-waveform = <0x3c>;
// 			};
// 		};
// 	};

// 	chosen {
// 		zephyr,display = &display0;
// 	};
// };